.ph-avatar--alt {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background: #131313;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    letter-spacing: 1px;
}