<!--begin::Form-->
<div id="splash-screen" class="splash-screen" *ngIf="IsLoading">
  <img src="./assets/media/logos/prophero-small.svg" alt="PropHero logo" />
  <span>Loading ...</span>
</div>
<form class="form w-100" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form"
  (ngSubmit)="validateEmail()">
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <h1 class="text-dark fw-bolder mb-3">
      Log In
    </h1>
 
  </div>
  <!--end::Heading-->



  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        The login details are incorrect
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fs-6 fw-bolder text-dark">Email</label>
    <input class="form-control bg-transparent" type="email" name="username" formControlName="username" autocomplete="off" (click)="onFormChange()"

      [class.border-error]="f['username'].errors && (f['username'].dirty || f['username'].touched)" />
      <div *ngIf="isSubmitted && f['username'].errors &&
      (f['username'].dirty || f['username'].touched )" class="required-feedback">
    <!-- <div class="error-text">Email is required</div> -->
  </div>
  <ng-container
  [ngTemplateOutlet]="formError"
  [ngTemplateOutletContext]="{
    validation: 'required',
    message: 'Email is required',
    control: loginForm.controls['username']
  }"
></ng-container>
<ng-container
  [ngTemplateOutlet]="formError"
  [ngTemplateOutletContext]="{
    validation: 'email',
    message: 'Email is invalid',
    control: loginForm.controls['username']
  }"
></ng-container>
<ng-container
  [ngTemplateOutlet]="formError"
  [ngTemplateOutletContext]="{
    validation: 'minLength',
    message: 'Email should have at least 3 symbols',
    control: loginForm.controls['username']
  }"
></ng-container>
<ng-container
  [ngTemplateOutlet]="formError"
  [ngTemplateOutletContext]="{
    validation: 'maxLength',
    message: 'Email should have maximum 360 symbols',
    control: loginForm.controls['username']
  }"
></ng-container>

    <!-- <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Email is required',
        control: loginForm.controls['username'] 
      }"></ng-container>  -->
      <ng-container *ngIf="success">
        <div class="fv-plugins-message-container">
          <!--begin::Body-->
          <span role="alert" class="text-success">{{successMessage}}</span>
          <!--end::Body-->
        </div>
      </ng-container>
            <ng-container *ngIf="error">
          <div class="fv-plugins-message-container">
            <span role="alert" class="text-danger">{{responseMessage}}</span>
          </div>
        </ng-container>
   
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-3 position-relative">

    <label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>

    <input class="form-control bg-transparent" [type]="passwordVisible ? 'text' :'password'" name="password" autocomplete="off" (click)="onFormChange()"
      formControlName="password" [class.border-error]=" f['password'].errors && (f['password'].dirty || f['password'].touched)" />

      <span class="cursor-pointer" style="position: absolute;right: 12px;top: 28px;" (click)="this.passwordVisible = !this.passwordVisible">
        <i class="fs-2 text-dark" [class]="passwordVisible ? 'bi bi-eye-slash' :'bi bi-eye'"></i>
      </span>
      <div *ngIf="isSubmitted && f['password'].errors &&
      (f['password'].dirty || f['password'].touched )" class="required-feedback">
       <!-- <div class="error-text">Password is required</div> -->
      </div>
      <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Password is required',
        control: loginForm.controls['password']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'Password is invalid',
        control: loginForm.controls['password']
      }"
    ></ng-container>
    <!-- <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'Email should have at least 3 symbols',
        control: loginForm.controls['password']
      }"
    ></ng-container> -->
    <!-- <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Email should have maximum 360 symbols',
        control: loginForm.controls['password']
      }"
    ></ng-container> -->

      <ng-container *ngIf="passwordError">
        <div class="fv-plugins-message-container">
          <span role="alert" class="text-danger">{{passwordErrorMessage}}</span>
        </div>
      </ng-container>

    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Password should have at least 3 symbols',
        control: loginForm.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Password should have maximum 100 symbols',
        control: loginForm.controls['password']
      }"></ng-container>

  </div>
  <!--end::Form group-->

  <!--begin::Wrapper-->
  <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
    <div></div>

    <!--begin::Link-->
    <a routerLink="/auth/forgot-password" class="link-primary">
      Forgot Password?
    </a>
    <!--end::Link-->
  </div>
  <!--end::Wrapper-->
  
  <!--begin::Action-->
  <div class="d-grid mb-10">
    <button type="submit" id="kt_sign_in_submit" class="btn btn-primary" [disabled]="loginForm.invalid" >
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Log In</span>
      </ng-container>
    </button>
  </div>

  <!--end::Action-->
</form>
<!--end::Form-->

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
